{
  "presets": [
    "es2015-no-commonjs",
    "react"
  ],
  "plugins": [
    "transform-es2015-for-of"
  ],
  "env": {
    "development": {
        "plugins": [
            "transform-react-jsx-source",
            "transform-es2015-modules-commonjs"
        ]
    },
    "production": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}